* {
    margin: 0;
    padding: 0;
    font-family: 'McLaren', cursive;
}
body {
    background-color: #EBEBEA;
}
header {
    color: #fff;
    background-color: #EEAD1A;
    padding: 12px;
    padding-left: 25px;
    font-size: 1.5rem;
    font-weight: bold;
}
footer {
    padding: 20px;
    text-align: center;
    color: #888888;
    font-size: 0.9rem;
}
hr {
    border: none;
    border-bottom: 1px dashed;
}
/* Note styling */
.note-container {
    margin-left: 16px;
    /* margin-right: auto; */
}
.note {
    position: relative;
    display: inline-block;
    margin: 25px;
    padding: 20px;
    padding-bottom: 25px;
    width: fit-content;
    min-width: 150px;
    max-width: 275px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.note-title {
    font-size: 1.1rem;
    padding-right: 25px;
    /* font-weight: 500; */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.note-date {
    font-size: 0.7rem;
    color: #888;
    margin-bottom: 8px;
}
.note-content {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Kalam', cursive;
}
.note-btn {
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #eeae1a;
    /* opacity: 0.25; */
    font-size: 0.75rem;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

/* Note Adder */
.add-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-note {
    margin: 35px;
    padding: 30px;
    display: block;
    width: 32%;
    height: fit-content;
    position: relative;
    /* bottom: 25px; */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.add-note .note-title, .add-note .note-content {
    width: 100%;
    border: none;
    outline: none;
}
.add-note .note-content {
    margin-top: 6px;
    width: 100%;
    min-height: 150px;
    font-size: 1.05rem;
    resize: none;
}
.add-note-container .add-note .add-note-btn {
    display: block;
    width: 55px;
    height: 55px;
    position: absolute;
    right: 35px;
    margin-bottom: 6px;
    outline: none;
    color: #fff;
    background-color: #eeae1a;
    font-weight: bolder;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    box-shadow: 0 2px 12px 3px #EEAD1A50;
    transition: 300ms;
}
.add-note-container .add-note .add-note-btn:hover {
    background-color: #ffb814;
}

/* to center the div */
.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* animations to the notes */
.slide-enter {
    transform: translateY(-100%);
}

.slide-enter-active {
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}